<!--The content below is only a placeholder and can be replaced.-->

<h1>
    Welcome to {{title}}!!
</h1>
<h3>Here are some links to help you start: </h3>
<p><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></p>
<p><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></p>
<p><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></p>
<main>
    <aside>
        <nav>
            <ul>
                <li><a routerLink="/" routerLinkActive="active">Main</a></li>
                <li><a routerLink="/calculator" routerLinkActive="active">Calculator</a></li>
                <li><a routerLink="/ngif-example" routerLinkActive="active">NgIf-Example</a></li>
                <li><a routerLink="/switch-example" routerLinkActive="active">NgSwitch-example</a></li>
            </ul>
        </nav>
    </aside>
    <section>
        <router-outlet></router-outlet>
    </section>
</main>
